doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title lesson2
    body    
        h1(align='center') lesson 2
        h2=name 
            p name of Academy is #{name}
            p name of number is #{number}
            p name of email is #{email}
            if(address)
                p #{address}
            else
                p address not found                  